.CarMaxLogo {
    height: 30px;
    width: auto;
}

.findYourCar {
    text-align: center;
    color: rgb(1, 1, 72);
    display: inline-block;
    background: rgb(240, 215, 69);
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}

h1 {
    font-size: 75px;
    color: rgb(1, 1, 72);
}

.menuBar {
    display: flex;
    justify-content: space-between;
    width:48%;
}

.menuBar-Logo {
    display: flex;
    align-items: center;
}

p {
    font-size: 24px;
    color: rgb(86, 79, 79);
}

.pageText {
    padding: 0px;
}

.searchBar {
    display: inline-block;
    width: 90%;
    font-size: 20px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    border: 1px rgb(199, 196, 196) solid;
}

.topSection {
    background-image: url("carDriveOff5.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.topSection-Opening {
    position: absolute;
    top: 4%;
    left: 10%;
    right: 10%;
}