.CarMaxLogo {
    height: 30px;
    width: auto;
}

.findYourCar {
    text-align: center;
    color: rgb(1, 1, 72);
    font-family: "calibri";
    display: inline-block;
    background: rgb(240, 215, 69);
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}

.findYourCar:hover {
    background:rgb(248, 228, 113);
}

.guarantee {
    position: relative;
    top: -45px;
}
/* Text Styling Begin */
h1 {
    font-size: 75px;
    color: rgb(5, 51, 97);
}

h3 {
    font-family: "calibri";
    color: rgb(5, 51, 97);
}

p {
    font-size: 24px;
    color: rgb(240, 238, 238);
    font-family: "calibri";
}
/* Text Styling End */

.menuBar {
    display: flex;
    justify-content: space-between;
    width:48%;
}

.menuBar-Logo {
    display: flex;
    align-items: center;
}

.pageText {
    padding: 0px;
}

.searchBar {
    display: inline-block;
    width: 90%;
    font-size: 20px;
    font-family: "calibri";
    padding: 15px;
    background: white;
    border-radius: 10px;
    border: 2px rgb(199, 196, 196) solid;
}

.searchBar:hover {
    border: blue 2px solid;
}

.topSection {
    background-image: url("carDriveOff5.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.topSection-Opening {
    position: absolute;
    top: 4%;
    left: 10%;
    right: 10%;
}